/* General styling*/
html,
body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "PT Mono", monospace;
    font-size: 16px;
}

.app * {
    -webkit-appearance: none;
    -webkit-user-select: none;
}
