/* General styling*/
html,
body {
    margin: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(33, 125, 173, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: "PT Mono", monospace;
    font-size: 16px;
}

.app * {
    -webkit-appearance: none;
    -webkit-user-select: none;
}
